<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dogsuned</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="{{ url_for('home') }}">主目录</a></li> -->
            <!-- <li><a href="{{ url_for('about') }}">关于</a></li> -->
            <li><a href="{{ url_for('show_users') }}">所有成员</a></li>
            <li><a href="{{ url_for('add_user') }}">添加成员</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
